
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    image-rendering: pixelated;
  }
  
  :root {
    --background: 198 42% 10%; /* #124170 */
    --foreground: 151 68% 91%; /* #DDF4E7 */

    --card: 198 42% 15%;
    --card-foreground: 151 68% 91%;
 
    --popover: 198 42% 8%;
    --popover-foreground: 151 68% 91%;
 
    --primary: 147 38% 58%; /* #67C090 */
    --primary-foreground: 198 42% 10%;
 
    --secondary: 198 52% 32%; /* #26667F */
    --secondary-foreground: 151 68% 91%;
 
    --muted: 198 52% 32%;
    --muted-foreground: 151 68% 80%;
 
    --accent: 147 38% 58%;
    --accent-foreground: 198 42% 10%;
 
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 198 52% 32%;
    --input: 198 52% 32%;
    --ring: 147 38% 58%;
 
    --radius: 0.25rem;
  }
 
  .dark {
    --background: 198 42% 10%; /* #124170 */
    --foreground: 151 68% 91%; /* #DDF4E7 */

    --card: 198 42% 15%;
    --card-foreground: 151 68% 91%;
 
    --popover: 198 42% 8%;
    --popover-foreground: 151 68% 91%;
 
    --primary: 147 38% 58%; /* #67C090 */
    --primary-foreground: 198 42% 10%;
 
    --secondary: 198 52% 32%; /* #26667F */
    --secondary-foreground: 151 68% 91%;
 
    --muted: 198 52% 32%;
    --muted-foreground: 151 68% 80%;
 
    --accent: 147 38% 58%;
    --accent-foreground: 198 42% 10%;
 
    --destructive: 0 70% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 198 52% 32%;
    --input: 198 52% 32%;
    --ring: 147 38% 58%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground text-lg;
  }
}
