
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  :root {
    --background: 240 3% 17%;
    --foreground: 0 0% 98%;

    --card: 240 3% 20%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 3% 17%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 208 39% 52%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 240 4% 23%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 4% 23%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 300 100% 25%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 29%;
    --input: 240 4% 29%;
    --ring: 208 39% 52%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 3% 17%;
    --foreground: 0 0% 98%;

    --card: 240 3% 20%;
    --card-foreground: 0 0% 98%;
 
    --popover: 240 3% 17%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 208 39% 52%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 240 4% 23%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 240 4% 23%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 300 100% 25%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 29%;
    --input: 240 4% 29%;
    --ring: 208 39% 52%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
